/* importing google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* declaring variables */
:root {
  --brown: #4a2c2a;
  --white: #fff;
  --black: #000;
  --dark-gray: #181819;
  --light-blue: #ebf0f3;
  --medium-blue: #3f00ff;
  --dark-blue: #12162d;
  --medium-gray: #393939;
}

/* base styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

/* header styling */
.header {
  background-color: var(--white);
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 3px solid var(--black);
}

.logo-container {
  width: 180px;
  height: 70px;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.nav-check {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 3;
}

.line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 200px;
  transition: all 0.5s ease-out;
}

.line:not(:last-child) {
  margin-bottom: 5px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  position: relative;
  color: #2b2b2b99;
  white-space: nowrap;
}

.nav-link:hover {
  color: var(--brown);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale(0);
  background-color: var(--brown);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scale(1);
}

.nav-link.active {
  color: var(--brown);
}

/* section 1*/

#sec-1 {
  display: block;
  text-align: center;
  padding: 60px 50px 80px;
}

#sec-1 h2 {
  font-weight: 600;
  font-size: 41px;
  color: #1d1d1d;
  margin-bottom: 18px;
}

#sec-1 p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.0025em;
  color: #393939;
  max-width: 860px;
  margin: 0 auto;
}

/* section 2 */

#sec-2 {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 50px 31px 70px;
  position: relative;
}

.p-index {
  background-color: #ebf0f3;
  width: 100%;
  padding: 64px 256px 64px 64px;
  max-width: 830px;
  min-height: 870px;
}

.img-index {
  width: 50%;
  max-width: 686px;
  height: auto;
  max-height: 671px;
  position: absolute;
  right: 50px;
  top: 130px;
}

.img-index img {
  width: 100%;
  height: 100%;
}

.p-index h2 {
  font-weight: 600;
  font-size: 41px;
  line-height: 62px;
  color: #1d1d1d;
  margin-bottom: 64px;
}

.p-index p {
  font-size: 16px;
  line-height: 29px;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #393939;
  max-width: 350px;
}

/* footer section*/

.footer {
  background-color: var(--dark-gray);
  padding: 70px 50px 90px;
  color: var(--white);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1250px;
}

.footer-copyright {
  font-size: 13px;
  line-height: 20px;
  margin-top: 50px;
}

.footer-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 20px;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--light-blue);
  transition: all 0.3s ease-in-out;
}

.footer-link:hover::after {
  width: 100%;
}

.footer-link:hover {
  color: var(--light-blue);
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .img-index {
    width: 50%;
  }

  .p-index {
    padding: 64px 256px 64px 40px;
    max-width: 700px;
    min-height: 800px;
  }

  .p-index p {
    max-width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .logo-container {
    width: 120px;
    height: 55px;
  }

  .nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    background: #fff;
    transition: all 0.5s ease-out;
    z-index: 1;
  }

  .nav-list {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100vh;
  }

  .nav-check:checked ~ .nav {
    left: 0;
  }

  .nav-check:checked ~ .hamburger .line:first-child {
    transform: translateY(4px) rotate(135deg);
  }

  .nav-check:checked ~ .hamburger .line:nth-child(2) {
    display: none;
  }

  .nav-check:checked ~ .hamburger .line:nth-child(3) {
    transform: translateY(-4px) rotate(-135deg);
  }

  .hamburger {
    display: block;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 70px;
  }

  .img-index {
    width: 40%;
    top: 250px;
  }

  .p-index {
    padding-right: 64px;
    min-height: unset;
  }
}

@media screen and (max-width: 800px) {
  #sec-1 {
    padding: 60px 30px 80px;
  }

  #sec-2 {
    flex-direction: column;
    padding: 0 30px 31px 30px;
  }

  .img-index {
    width: 100%;
    position: unset;
  }

  .p-index p {
    max-width: unset;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 10px 30px;
  }

  .footer {
    padding: 50px 30px 70px;
  }

  .footer-container {
    display: grid;
    grid-template-areas: "area-2 area-3" "area-1 area-4";
    gap: 40px;
  }

  .footer-box--1 {
    grid-area: area-1;
  }

  .footer-box--2 {
    grid-area: area-2;
  }
  .footer-box--3 {
    grid-area: area-3;
  }
  .footer-box--4 {
    grid-area: area-4;
  }

  .footer-copyright {
    margin-top: 20px;
  }

  .footer-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .footer-link {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 10px 20px;
  }

  .logo-container {
    width: 100px;
    height: 40px;
  }

  .footer {
    padding: 40px 20px 50px;
  }

  .footer-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .footer-link {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 410px) {
  .footer-container {
    grid-template-areas: "area-2" "area-3" "area-4" "area-1";
  }
}
