/* importing google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* declaring variables */
:root {
  --brown: #4a2c2a;
  --white: #fff;
  --black: #000;
  --dark-gray: #181819;
  --light-blue: #ebf0f3;
  --medium-blue: #3f00ff;
  --dark-blue: #12162d;
  --dark-gray: #393939;
}

/* base styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

.header {
  background-color: var(--white);
  padding: 5px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 3px solid var(--black);
}

.logo-container {
  width: 194px;
  height: 78px;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale(0);
  background-color: var(--brown);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scale(1);
}

.nav-link:hover {
  color: var(--brown);
  opacity: 0.8;
}

.nav-link.active {
  color: var(--medium-blue);
}

.footer {
  background-color: var(--dark-gray);
  padding: 70px 50px 90px;
  color: var(--white);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1250px;
}

.footer-copyright {
  font-size: 13px;
  line-height: 20px;
  margin-top: 50px;
}

.footer-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 20px;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--light-blue);
  transition: all 0.3s ease-in-out;
}

.footer-link:hover::after {
  width: 100%;
}

.footer-link:hover {
  color: var(--light-blue);
  opacity: 0.8;
}
/* importing google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* declaring variables */
:root {
  --brown: #4a2c2a;
  --white: #fff;
  --black: #000;
  --dark-gray: #181819;
  --light-blue: #ebf0f3;
  --medium-blue: #3f00ff;
  --dark-blue: #12162d;
  --dark-gray: #393939;
}

/* base styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

.header {
  background-color: var(--white);
  padding: 5px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 3px solid var(--black);
}

.logo-container {
  width: 194px;
  height: 78px;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale(0);
  background-color: var(--brown);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scale(1);
}

.nav-link:hover {
  color: var(--brown);
  opacity: 0.8;
}

.nav-link.active {
  color: var(--medium-blue);
}

.footer {
  background-color: var(--dark-gray);
  padding: 70px 50px 90px;
  color: var(--white);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1250px;
}

.footer-copyright {
  font-size: 13px;
  line-height: 20px;
  margin-top: 50px;
}

.footer-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 20px;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--light-blue);
  transition: all 0.3s ease-in-out;
}

.footer-link:hover::after {
  width: 100%;
}

.footer-link:hover {
  color: var(--light-blue);
  opacity: 0.8;
}
