/* importing google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* declaring variables */
:root {
  --brown: #4a2c2a;
  --white: #fff;
  --black: #000;
  --dark-gray: #181819;
  --light-blue: #ebf0f3;
  --medium-blue: #3f00ff;
  --dark-blue: #12162d;
  --medium-gray: #393939;
}

/* base styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

.header {
  background-color: var(--white);
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 3px solid var(--black);
}

.logo-container {
  width: 180px;
  height: 70px;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  position: relative;
  color: #2b2b2b99;
  white-space: nowrap;
}

.nav-link:hover {
  color: var(--brown);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale(0);
  background-color: var(--brown);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scale(1);
}

.nav-link.active {
  color: var(--medium-blue);
}

.first-container{
  width: 100%;
  height: 100%;
  display: flex;
}
.contactpageimg{
  margin-top: 30px;
  width: 100%;
  height:100%
}
.Div-form{
  padding: 8px;
}
.contact-right{
  flex-basis: 30%;
  padding:40px;
}
.contact-left{
  /* flex-basis: 50%; */
  padding:40px;
}
.Div-form input{
  background: #FFFFFF;
  border: 1px solid #E2E1E5;
  border-radius: 5px;
  padding: 10px 55px 10px 15px;
}
.contact-left .Div-form input{
  background: #FFFFFF;
  border: 1px solid #E2E1E5;
  border-radius: 5px;
  padding: 10px 65px 10px 15px;
}
.Div-form label{
  font-size: 11px;
  font-weight: 600;
}
.button{
  padding: 10px 5px;
}
#submit-button{
  width: 100px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  background-color: #4A2C2A;
  color: #fff;
  text-align: center;
  line-height: 0.5;
  font-size: 15px;
  font-weight: 600;
}
.second-container{
  width: 100%;
  height: 100%;
}
.location-img{
  display: flex;
}
.second-container img{
  width: 40px;
  margin-left: 40px;
}
.second-container h1{
  padding-left: 20px;
}
.map{
  padding:10px 30px 15px 30px ;
}
iframe{
  width: 100%;
  height: 500px;
}
.address{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 30px;
}
.address p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 42px;
  color: #1D1D1D;
}
.directionbtn{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.directionbtn #submit-button{
  text-align: center;
  padding: 10px;
  color: #E2E1E5;
}
.footer {
  background-color: var(--dark-gray);
  padding: 70px 50px 90px;
  color: var(--white);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1250px;
}

.footer-copyright {
  font-size: 13px;
  line-height: 20px;
  margin-top: 50px;
}

.footer-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 20px;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--light-blue);
  transition: all 0.3s ease-in-out;
}

.footer-link:hover::after {
  width: 100%;
}

.footer-link:hover {
  color: var(--light-blue);
  opacity: 0.8;
}
  
