/* importing google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* declaring variables */
:root {
  --brown: #4a2c2a;
  --white: #fff;
  --black: #000;
  --dark-gray: #181819;
  --light-blue: #ebf0f3;
  --medium-blue: #3f00ff;
  --dark-blue: #12162d;
  --medium-gray: #393939;
}

/* base styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

/* header styling */
.header {
  background-color: var(--white);
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 3px solid var(--black);
}

.logo-container {
  width: 180px;
  height: 70px;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.nav-check {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 3;
}

.line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 200px;
  transition: all 0.5s ease-out;
}

.line:not(:last-child) {
  margin-bottom: 5px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  position: relative;
  color: #2b2b2b99;
  white-space: nowrap;
}

.nav-link:hover {
  color: var(--brown);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale(0);
  background-color: var(--brown);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scale(1);
}

.nav-link.active {
  color: var(--brown);
}

/* main styling */
.works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.works .image-container {
  width: 100%;
  height: 480px;
}

.works .image-container img {
  width: 100%;
  height: 100%;
}

.faq {
  padding: 40px 50px 80px;
}

.faq .heading-primary {
  text-align: center;
  font-size: 39px;
  font-weight: 600;
  line-height: 58px;
  margin-bottom: 20px;
}

.faq .paragraph {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 30px;
}

.faq .faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.faq .faq-cont {
  border: 1px solid var(--black);
  padding: 28px 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 840px;
  max-height: 82px;
  transition: all 1s ease;
  overflow: hidden;
}

.faq .faq-cont.active {
  max-height: 500px;
}

.faq .faq-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: all 1s ease;
}

.faq .faq-box.active .top-text {
  font-weight: 700;
}

.faq .top-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
}

.faq .top-text span {
  font-weight: 700;
}

.faq .bottom-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: all 1s ease-in-out;
  padding-left: 20px;
  padding-right: 40px;
  display: none;
}

.faq .bottom-text span {
  font-weight: 700;
}

.faq .bottom-text.active {
  display: block;
}

.faq .icon {
  transition: all 0.5s ease;
}

.faq .icon.active {
  transform: rotate(90deg);
}

.custom {
  padding: 0 50px 70px;
}

.custom .heading-secondary {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 80px;
}

.custom .custom-container {
  display: flex;
  gap: 50px;
  justify-items: space-between;
  justify-content: space-between;
}

.custom .custom-form {
  display: block;
  width: 450px;
  max-width: 100%;
}

.custom .form-group {
  margin-bottom: 30px;
}

.custom .form-label {
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}

.custom .form-input,
.custom .form-textarea {
  width: 100%;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  border: 1px solid #e2e1e5;
  outline: none;
  border-radius: 10px;
}

.custom .form-textarea {
  resize: none;
}

::placeholder {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: #d2d2d2;
}

.custom .form-submit {
  margin-top: 20px;
}

.custom .btn-submit {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  background: var(--brown);
  color: var(--white);
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom .btn-submit:hover {
  background-color: white;
  border: 1px solid var(--brown);
  color: var(--brown);
  transform: translateY(-3px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.custom .btn-submit:active {
  transform: scale(0.98) translateY(-1px);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.3);
}

.custom .image-container {
  max-width: 100%;
  width: 700px;
  height: 400px;
}

.custom .image-container img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: var(--dark-gray);
  padding: 70px 50px 90px;
  color: var(--white);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1250px;
}

.footer-copyright {
  font-size: 13px;
  line-height: 20px;
  margin-top: 50px;
}

.footer-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 20px;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--light-blue);
  transition: all 0.3s ease-in-out;
}

.footer-link:hover::after {
  width: 100%;
}

.footer-link:hover {
  color: var(--light-blue);
  opacity: 0.8;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1024px) {
  .logo-container {
    width: 120px;
    height: 55px;
  }

  .nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    background: #fff;
    transition: all 0.5s ease-out;
    z-index: 1;
  }

  .nav-list {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100vh;
  }

  .nav-check:checked ~ .nav {
    left: 0;
  }

  .nav-check:checked ~ .hamburger .line:first-child {
    transform: translateY(4px) rotate(135deg);
  }

  .nav-check:checked ~ .hamburger .line:nth-child(2) {
    display: none;
  }

  .nav-check:checked ~ .hamburger .line:nth-child(3) {
    transform: translateY(-4px) rotate(-135deg);
  }

  .hamburger {
    display: block;
  }

  .works {
    grid-template-columns: 1fr;
  }

  .works .image-container {
    height: auto;
    max-height: calc(100vh - 78px);
  }

  .works .image-container:last-child {
    display: none;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 70px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 10px 30px;
  }

  .faq {
    padding: 40px 30px 80px;
  }

  .faq .heading-primary {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .faq .paragraph {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .faq .faq-cont {
    padding: 20px 16px;
    max-height: 100px;
  }

  .custom {
    padding: 0 30px 70px;
  }

  .custom .heading-secondary {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  .custom .custom-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .custom .image-container {
    max-width: 450px;
    height: 200px;
  }

  .footer {
    padding: 50px 30px 70px;
  }

  .footer-container {
    display: grid;
    grid-template-areas: "area-2 area-3" "area-1 area-4";
    gap: 40px;
  }

  .footer-box--1 {
    grid-area: area-1;
  }

  .footer-box--2 {
    grid-area: area-2;
  }
  .footer-box--3 {
    grid-area: area-3;
  }
  .footer-box--4 {
    grid-area: area-4;
  }

  .footer-copyright {
    margin-top: 20px;
  }

  .footer-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .footer-link {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 10px 20px;
  }

  .logo-container {
    width: 100px;
    height: 40px;
  }

  .faq {
    padding: 40px 20px 80px;
  }

  .faq .heading-primary {
    font-size: 24px;
    line-height: 32px;
  }

  .faq .paragraph {
    font-size: 16px;
    line-height: 24px;
  }

  .faq .faq-container {
    gap: 30px;
  }

  .faq .faq-cont {
    padding: 15px 16px;
    gap: 20px;
    max-height: 120px;
  }

  .faq .faq-box {
    padding-right: unset;
  }

  .faq .top-text {
    font-size: 15px;
  }

  .faq .bottom-text {
    font-size: 15px;
    padding-left: 10px;
    display: none;
  }

  .custom {
    padding: 0 20px 70px;
  }

  .custom .btn-submit {
    font-size: 16px;
    line-height: 30px;
    padding: 8px 25px;
  }

  .footer {
    padding: 40px 20px 50px;
  }

  .footer-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .footer-link {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 410px) {
  .footer-container {
    grid-template-areas: "area-2" "area-3" "area-4" "area-1";
  }
}
