/* importing google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* declaring variables */
:root {
  --brown: #4a2c2a;
  --white: #fff;
  --black: #000;
  --dark-gray: #181819;
  --light-blue: #ebf0f3;
  --medium-blue: #3f00ff;
  --dark-blue: #12162d;
  --medium-gray: #393939;
}

/* base styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

/* header styling */
.header {
  background-color: var(--white);
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 3px solid var(--black);
}

.logo-container {
  /* min-width: 180px; */
  width: 180px;
  height: 70px;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 3;
}

.line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 200px;
  transition: all 0.5s ease-out;
}

.line:not(:last-child) {
  margin-bottom: 5px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  position: relative;
  color: #2b2b2b99;
  white-space: nowrap;
}

.nav-link:hover {
  color: var(--brown);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale(0);
  background-color: var(--brown);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scale(1);
}

.nav-link.active {
  color: var(--brown);
}

/* main styling */
.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/images/home-bg.png);
  background-size: cover;
  width: 100%;
  color: var(--white);
  padding: 180px 50px;
  height: 660px;
}

.hero .primary-heading {
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
  margin-bottom: 20px;
}

.hero .paragraph {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.btn {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  padding: 16px;
  background-color: var(--brown);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--dark-gray);
}

.hero .btn {
  display: block;
  margin: 0 auto;
}

.hero .btn:hover {
  border: 2px solid var(--white);
}

.skilled {
  padding: 120px 50px 200px;
}

.skilled .secondary-heading {
  font-size: 41px;
  font-weight: 700;
  line-height: 62px;
  text-align: center;
  margin-bottom: 50px;
}

.skilled .skilled-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.skilled .skilled-text {
  max-width: 530px;
}

.skilled .skilled-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #393939;
  margin-bottom: 20px;
}

.skilled .paragraph {
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #484848;
  margin-bottom: 20px;
}

.skilled .image-container {
  display: grid;
  grid-template-areas:
    "skill-1 skill-2"
    "skill-1 skill-3";
  gap: 0px 20px;
}

.skilled .image-box-1 {
  grid-area: skill-1;
  width: 310px;
  height: 465px;
}

.skilled .image-box-2 {
  grid-area: skill-2;
  width: 420px;
  height: 224px;
}

.skilled .image-box-3 {
  grid-area: skill-3;
  width: 420px;
  height: 224px;
}

.skilled .image-box-1 img {
  width: 100%;
  height: 100%;
}

.skilled .image-box-2 img {
  width: 100%;
  height: 100%;
}

.skilled .image-box-3 img {
  width: 100%;
  height: 100%;
}

.collection {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/images/collector-bg.png);
  background-size: cover;
  width: 100%;
  color: var(--white);
  padding: 80px 50px 120px;
}

.collection .primary-heading {
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
  margin-bottom: 30px;
}

.collection .paragraph {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.collection .btn {
  display: block;
  margin: 0 auto;
}

.client {
  padding: 120px 50px 100px;
}

.client .secondary-heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  margin-bottom: 40px;
}

.client .client-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.client .client-box {
  padding: 20px 15px;
  border-radius: 20px;
  border: 1px solid #727272;
}

.client .client-image-container {
  width: 130px;
  height: 130px;
  margin: 0 auto 16px;
}

.client .client-image-container img {
  width: 100%;
  height: 100%;
}

.client .client-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #1d1d1d;
}

.client .client-career {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #393939;
  margin-bottom: 10px;
}

.client .client-review {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #0c0c0f;
}

.client .client-review span {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.suscribe {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/suscribe-bg.png) no-repeat;
  background-size: cover;
  width: 100%;
  color: var(--white);
  padding: 90px 50px 100px;
  margin-bottom: 80px;
}

.suscribe .secondary-heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  margin-bottom: 50px;
}

.suscribe .suscribe-form {
  display: flex;
  justify-content: center;
}

.suscribe .suscribe-input {
  width: 480px;
}

.suscribe .input {
  width: 100%;
  height: 56px;
  padding: 0px 20px;
  border-radius: 16px 0 0 16px;
  border: none;
  font-family: inherit;
  font-size: 17px;
}

.suscribe .input::placeholder {
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #1d1d1d;
}

.suscribe .suscribe-submit {
  width: 170px;
}

.suscribe .btn-submit {
  width: 100%;
  height: 56px;
  padding: 10px;
  border-radius: 0 16px 16px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  background: var(--brown);
  color: var(--white);
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.suscribe .btn-submit:hover {
  background: var(--dark-gray);
}

/* footer styling  */
.footer {
  background-color: var(--dark-gray);
  padding: 70px 50px 90px;
  color: var(--white);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1250px;
}

.footer-copyright {
  font-size: 13px;
  line-height: 20px;
  margin-top: 50px;
}

.footer-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 20px;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--light-blue);
  transition: all 0.3s ease-in-out;
}

.footer-link:hover::after {
  width: 100%;
}

.footer-link:hover {
  color: var(--light-blue);
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    background: #fff;
    transition: all 0.5s ease-out;
    z-index: 1;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100vh;
  }

  input[type="checkbox"]:checked ~ .nav {
    left: 0;
  }

  input[type="checkbox"]:checked ~ .hamburger .line:first-child {
    transform: translateY(4px) rotate(135deg);
  }

  input[type="checkbox"]:checked ~ .hamburger .line:nth-child(2) {
    display: none;
  }

  input[type="checkbox"]:checked ~ .hamburger .line:nth-child(3) {
    transform: translateY(-4px) rotate(-135deg);
  }

  .hamburger {
    display: block;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 70px;
  }
}
